//
// Utilities
// ------------------------------------------------------------------

    //
    // Inline Block
    // ------------------------------------------------------------------
        .ib, .inlineBlock, .inline-block {
            @include inlineBlock();
        }

    //
    // Float Right
    // ------------------------------------------------------------------
        .fr, .flt-r {float: right;}

    //
    // Float Left
    // ------------------------------------------------------------------
        .fl, .flt-l {float: left;}

    //
    // Hidden / Visible
    // ------------------------------------------------------------------
        .hidden {
            display: none;
        }

        .visible {
            display: block;
        }
