//
// Global variables for the page styles
// -------------------------------------------------------------------------------------------
    //
    // Font Related
    // ---------------------------------------------------------------------------------------
        $font-roboto: 'Roboto', sans-serif;
        $font-arial: 'arial', sans-serif;

    //
    // Flat UI Color pallete
    // --------------------------------------------------------------------------------------
        $_color-base-turquoise: #1ABC9C;
        $_color-base-greensea: #19B698;
        $_color-base-emerald: #40D47E;
        $_color-base-nephritis: #2CC36B;
        $_color-base-peterriver: #3498DB;
        $_color-base-belizehole: #2980B9;
        $_color-base-amethyst: #A66BBE;
        $_color-base-wisteria: #9B50BA;
        $_color-base-wetasphalt: #3D566E;
        $_color-base-midnightblue: #354B60;
        $_color-base-sunflower: #F2CA27;
        $_color-base-orange: #F4A62A;
        $_color-base-carrot: #E98B39;
        $_color-base-pumpkin: #EC5E00;
        $_color-base-alizarin: #EA6153;
        $_color-base-pomegranate: #D14233;
        $_color-base-clouds: #FBFCFC;
        $_color-base-silver: #CBD0D3;
        $_color-base-concrete: #A3B1B2;
        $_color-base-asbestos: #8C9899;
