<main class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">You-Clip It &#x2702;&#x1F39E;</h1>
            <p class="lead">It is a simple youtube downloader and clipper for your social media needs.</p>
            <br>
            <br>
            <form>
                <div class="form-group">
                    <label for="youtubeurl">Youtube url:</label>
                    <input type="text" class="form-control youtubeurl" id="youtubeurl" aria-describedby="youtubeUrlHelp" placeholder="Paste your youtube video url here...">
                    <small id="youtubeUrlHelp" class="form-text text-muted">Video has to be at least 30s long and less than 6 mins.</small>
                </div>
                <br>
                <br>
                <div class="form-group">
                    <label for="">Fill the captcha below:</label>
                    <div class="form-control g-recaptcha" data-theme="dark" data-sitekey="{{site.authkeys.google.captcha}}"></div>
                    <small class="form-text text-muted">I just don't want my server spammed.</small>
                </div>
                <div class="row">
                    <button type="button" class="col-sm-12 col-md-6 offset-md-3 btn btn-dark submit">Send!</button>
                </div>
            </form>
        </div>
    </div>
    <h2 class="hidden results-title">Your clipping results are below, click them to save.</h2>
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3">
            <div class="hidden card thumbnail-card">
                <img class="card-img-top" src="" alt="">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-group hidden links">
    </ul>
</main>
