<main class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">You-Clip It &#x2702;&#x1F39E;</h1>
            <p class="lead">It is a simple youtube downloader and clipper for your social media needs.</p>
            <br>
            <br>
            <form>
                <div class="form-group">
                    <label for="youtubeurl">Youtube url:</label>
                    <input type="text" class="form-control youtubeurl" id="youtubeurl" aria-describedby="youtubeUrlHelp" placeholder="https://www.youtube.com/watch?v=CTmYL1hzyts">
                    <small id="youtubeUrlHelp" class="form-text text-muted">Video has to be at least 30s long and less than 6 mins.</small>
                </div>
                <button type="button" class="btn btn-dark submit">Send!</button>
            </form>
        </div>
    </div>
    <h2 class="hidden results-title">Clipping Results:</h2>
    <ul class="list-group hidden links">
    </ul>
</main>
